<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal Products</title>

    <!-- Bootstrap CSs -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Box Icon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

</head>
<style>
    .col-md-3 {
        display: inline-block;
        margin-left: -4px;
    }

    .carousel-indicators .active {
        background-color: lightblue;
    }

    .col-md-3 img {
        width: 220px;
        height: 242px;
    }

    body .carousel-indicator li {
        background-color: lightblue;
    }

    body .carousel-indicators {
        bottom: 0;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: lightblue;

    }

    .carousel-control-prev,
    .carousel-control-next {
        top: auto;
        bottom: auto;
        padding-top: 200px;
    }

    body .no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-item,
    .navbar-brand {
        font-weight: bolder;
    }

    .card {
        margin-right: 5px;
    }

    .navbar {
        background-color: #0dcaf0;
    }
</style>

<body>
    {% load static %}

    <!-- Navbar Start's -->

    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="/shop">Royal Products</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Playground Parts</a>
                        <a class="dropdown-item" href="#">Open Gym Parts</a>
                        <a class="dropdown-item" href="#">Garden Bench</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop/contact">Contact Us</a>
                </li>
                
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a href="./about" class="nav-item btn btn-light mx-2" style='color:#0dcaf0;'>
                <i class='bx bxs-cart' style='font-size: 20px;'></i>(<span id="cart">0</span>)</i>
            </a>
        </div>
    </nav>

    <!-- Navbar End's -->

    <!-- Carousel Start -->
    <div class="container">

        <!--Slideshow starts here -->
        {% for products, range, nSlides in allProds %}
        <h5 class="my-4">Flash Sale On {{products.0.category}} - Recommended Items</h5>
        <div class="row">
            <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">



                <div class="container carousel-inner no-padding">

                    <div class="carousel-item active ">

                        {% for i in products %}
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="card" style="width: 18rem;">
                                <img src='/media/{{i.image}}' class="card-img-top rounded mx-auto d-block" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{i.product_name}}</h5>
                                    <p class="card-text">{{i.desc}}</p>
                                    <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                    </div>
                    <div class="carousel-item">
                        {% endif %}

                        {% endfor %}
                    </div>



                </div>
            </div>
            <!-- left and right controls for the slide -->
            <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
                <span class="carousel-control-prev-icon rounded-circle p-3"></span>
            </a>
            <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
                <span class="carousel-control-next-icon rounded-circle p-3"></span>
            </a>
        </div>
        {% endfor %}
    </div>


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    {% block js %}

    <script>

        if (localStorage.getItem('cart') == null) {
            var cart = {};
        }
        else {
            cart = JSON.parse(localStorage.getItem('cart'))
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
        }

        $('.cart').click(function () {
            console.log('clicked');
            var idstr = this.id.toString();
            console.log(idstr);
            if (cart[idstr] != undefined) {
                cart[idstr] = cart[idstr] + 1;
            }
            else {
                cart[idstr] = 1;
            }
            console.log(cart);
            localStorage.setItem('cart', JSON.stringify(cart))
        });

       

    </script>

    {% endblock %}




</body>
</body>

</html>